mv/fonts/
mv/out/
mv/frames/
mv/node_modules/
mv/song.mp3
mv/pluck.wav
v7/audio/*.wav
v7/*.zip
v7/out/
v7/clips/
v7/frames/
v8/audio/*.wav
v8/*.zip
v8/out/
v8/clips/
v8/frames/
v9/audio/*.wav
v9/audio/*.mp3
v9/*.zip
v9/out/
v9/clips/
v10/audio/*.wav
v10/audio/*.mp3
v10/*.zip
v10/out/
v10/clips/
test01/*.wav
test01/*.mp3
test01/*.zip
test02/*.wav
test02/*.mp3
test02/*.zip
test03/*.mp3
test03/*.zip
test04/*.mp3
test05/*.zip
rig/node_modules/
rig/out/
rig/frames/
test06/*.mp4
test06/*.zip
test07/*.mp4
test08/*.zip
